## REGULAR EXPRESSION

In [1]:
# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
# Sample Text- 'Python Exercises, PHP exercises.'
# Expected Output: Python:Exercises::PHP:exercises:
import re
import regex as re

tar_str = 'Python Exercises, PHP exercises.'
pattern = re.sub(r'[\s,.]',':',tar_str)
print(pattern)

Python:Exercises::PHP:exercises:

In [2]:
# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
# Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
# Expected output-
# 0      hello world
# 1             test
# 2    four five six

import pandas as pd

data = {'SUMMARY' :['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda data: re.sub(r'[,!;:.]|[A-Z]{5}|\d{3}','', data))
print(df)

C:\Users\HP\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

         SUMMARY
0    hello world
1           test
2  four five six

In [3]:
# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. 
            # The use of the re.compile() method is mandatory.
def four_char_longString():
    prog = re.compile(r'\w{4,}')
    four_char = prog.findall('Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career')
    return four_char

In [4]:
result = four_char_longString()
print(result)

['Rohit', 'Sharma', 'scored', 'CENTURIES', 'HALFCENTURIES', 'cricket', 'career']

In [5]:
# Question 4- Create a function in python to find all three, four, and five character words in a string. 
            # The use of the re.compile() method is mandatory.
def three_four_five_char_longString():
    tar_str ='Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career'  
    pattern = re.compile(r'\w{3,5}')
    three_four_five_char = pattern.findall(tar_str)
    return three_four_five_char

In [6]:
result = three_four_five_char_longString()
print(result)

['Rohit', 'Sharm', 'has', 'score', 'CENTU', 'RIES', 'and', 'HALFC', 'ENTUR', 'IES', 'his', 'crick', 'caree']

In [7]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. 
           # The use of the re.compile() method is mandatory.
            
# Sample text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
            
#Expected Output:
#example.com
#hr@fliprobo.com
#github.com
#Hello Data Science World

In [8]:
#Ans 5
def parenthesis(string_list):
    pattern = re.compile(r'\(.*?\)')
    list_1 = []
    
    for string in string_list:
        text = pattern.sub( "", string)
        list_1.append(text)
        
    return list_1

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

result = parenthesis(sample_text)

for output in result:
    print(output)

example
hr@fliprobo
github
Hello
Data

In [9]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular #Expression.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
# Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [10]:
# Ans 6
text_file = 'sample.txt'

with open('sample.txt','r') as file:
    text = file.read()
text

'["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]\n'

In [11]:
result = re.sub(r"\s*\([^)]*\)", "", text)
print(result)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [12]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”
#Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [13]:
#Ans 7

text ='ImportanceOfRegularExpressionsInPython'
pattern =r'(?=[A-Z])'
result =re.split(pattern,text,6)
print(result)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [14]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [15]:
#Ans 8
def insert_space(tar_str):
    tar_str = 'RegularExpression1IsAn2ImportantTopic3InPython'
    pattern = r'(?=\d)'
    result = re.sub(pattern,' ',tar_str)
    return result

insert_space(tar_str)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [16]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [17]:
#Ans 9
def spaces_between_words_nmbers(tar_str):
    tar_str = 'RegularExpression1IsAn2ImportantTopic3InPython'
    pattern = r'(?<=\d)|(?=\d)'
    result = re.sub(pattern,' ',tar_str)
    return result

spaces_between_words_nmbers(tar_str)

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [18]:
# Question 10- Use the github link below to read the data and create a dataframe. 
# After creating the dataframe extract the first 6 letters of each country and 
# store in the dataframe under a new column called first_five_letters.

In [19]:
#Ans 10
import pandas as pd
ds = pd.read_csv('happiness_score.csv')
df = pd.DataFrame(ds)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [20]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [21]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [22]:
# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and 
# underscores.

In [23]:
#Ans 11

string = 'Write a Python program to match a string that contains only upper and lowercase letters, 12345, and _'
pattern = '\w[A-Za-z0-9_]'
if re.match(pattern, string):
    print("Pass")
else:
    print("fail")

Pass

In [24]:
# Question 12- Write a Python program where a string will start with a specific number.

In [25]:
#Ans 12

string = "007Write a Python program 6where a string will start with a specific number. "
pattern = '^\d'
if re.match(pattern, string):
    print("Pass")
else:
    print("fail")

Pass

Question 13- Write a Python program to remove leading zeros from an IP address

In [26]:
# Ans 13
string_IP_Address = "192.156.004.056"
pattern = r'0(\d)'
result = re.sub(pattern,r'\1',string_IP_Address)
print(result)

192.156.04.56

In [27]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and # year stored in a text file.
# Sample text : ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control # were handed over to the leaders of the Country’.
# Expected Output- August 15th 1947
# Note- Store given sample text in the text file and then extract the date string asked format.

In [28]:
#Ans 14
sample_text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:th) \d{4})\b"
result = re.findall(pattern, sample_text)
date_string = result

if date_string:
    print(result[0])
else:
    print("Not found.")

August 15th 1947

# Question 15- Write a Python program to search some literals strings in a string. 
# Sample text : 'The quick brown fox jumps over the lazy dog horse.'
# Searched words : 'fox', 'dog', 'horse'

In [29]:
#Ans 15

pattern = 'fox|dog|horse'
text ='The quick brown fox jumps over the lazy dog horse.'
result = re.findall(pattern,text)
print(result)

['fox', 'dog', 'horse']

In [30]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original # string where the pattern occurs
# Sample text : 'The quick brown fox jumps over the lazy dog.'
# Searched words : 'fox'

In [31]:
#Ans 16

text ='The quick brown fox jumps over the lazy dog.'
result = re.search(r'fox',text)
print(result)

<regex.Match object; span=(16, 19), match='fox'>

In [32]:
# Question 17- Write a Python program to find the substrings within a string.
# Sample text : 'Python exercises, PHP exercises, C# exercises'
# Pattern : 'exercises'.

In [33]:
#Ans 17

pattern = 'exercises'
sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(pattern,sample_text)
print(result)

['exercises', 'exercises', 'exercises']

In [34]:
# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [35]:
#Ans 18

text = 'Python exercises, PHP exercises, C# exercises'
pattern ='exercises'
result = re.finditer(pattern,text)
for find in result:
    pattern1 = find.start()
    pattern2 = find.end()
    print(find)

<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(22, 31), match='exercises'>
<regex.Match object; span=(36, 45), match='exercises'>

In [36]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [37]:
#Ans 19
date_format = '2024-05-25'
pattern = r'\b(\d{4})-(\d{1,2})-(\d{1,2})\b'
result = re.sub(pattern,r'\3-\2-\1',date_format)
print(result)

25-05-2024

In [38]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the # re.compile() method is mandatory.
# Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
# Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
#Ans 20
def find_precision():
    tar_text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
    pattern = re.compile(r'\b\d+\.+\d{1,2}\b')
    result = pattern.findall(tar_text)
    return result

find_precision()

['01.12', '145.8', '3.01', '27.25', '0.25']

In [40]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.
tar_string = 'Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career'
pattern = r'\d+'
result = re.finditer(pattern,tar_string)

for find_obj in result:
    print(find_obj)
    print('number :',find_obj.group())
    print('position :',find_obj.start())

<regex.Match object; span=(24, 26), match='43'>
number : 43
position : 24
<regex.Match object; span=(41, 43), match='91'>
number : 91
position : 41

In [41]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
# Expected Output: 950

In [42]:
#Ans 22
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result =re.findall(r'\b\d+\b', text)
print(max(result))

950

In [43]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
# Sample Text: “RegularExpressionIsAnImportantTopicInPython"
# Expected Output: Regular Expression Is An Important Topic In Python

In [44]:
#Ans 23
def insert_spaces_between_words_starting_with_capital_letters():
    tar_string ='RegularExpressionIsAnImportantTopicInPython'
    result = re.sub(r'(?=[A-Z])',' ',tar_string)
    return result

insert_spaces_between_words_starting_with_capital_letters()

' Regular Expression Is An Important Topic In Python'

In [45]:
# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [46]:
#Ans 24
tar_string ='RegularExpressionIsAnImportantTopicInPython'
pattern = r'[A-Z][a-z]+'
result = re.findall(pattern,tar_string)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [47]:
# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
# Sample Text: "Hello hello world world"
# Expected Output: Hello hello world

In [48]:
#Ans 25
string= "Hello hello world world"
regex = r'\b(\w+)(?:\W+\1\b)+'

x=re.sub(regex, r'\1', string)
print(x)

Hello hello world

In [49]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [50]:
#Ans 26
tar_string = 'Regular Expression Is An Impo23rtant Topic In Python1234567'
pattern = r'(\w+\d[a-zA-Z0-9])$'

result = re.search(pattern,tar_string)
print(result)

if re.findall(pattern,tar_string):
    print('found')
else:
    print('not found')
    
# if re.match function are using the result were not get, result is none, alphanumeric character are not match in that why sir give me the idea on that

<regex.Match object; span=(46, 59), match='Python1234567'>
found

In [51]:
# Question 27-Write a python program using RegEx to extract the hashtags.

# Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

# Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [52]:
#Ans 27
tar_string = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by 
                #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> 
                "acquired funds" No wo"""
result = re.findall(r'#\w*',tar_string)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [53]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols
# Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up # # with a general Regex expression that will cover all such symbols.

# Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

# Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [54]:
# Ans 28
target_str= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
result = re.sub(r'<U+\+[0-9A-Z]{4}>',"",target_str)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [55]:
# Question 29- Write a python program to extract dates from the text stored in the text file.
# Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
# Note- Store this sample text in the file and then extract dates.

In [56]:
#Ans 29
with open('new_textfile.txt', 'r') as file:
  text = file.read()

pattern = r'\d{2}-\d{2}-\d{4}'
result = re.findall(pattern, text)

for date in result:
    print(date)

12-09-1992
15-12-1999

In [57]:
# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
# The use of the re.compile() method is mandatory.
# Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
# Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [58]:
#Ans 30
def remove_words(string):
      pattern = re.compile(r'\b\w{2,4}\b')
      modified_string = re.sub(pattern, '', string)
      return modified_string

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = remove_words(sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.