1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [47]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [48]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.implicitly_wait(10)

In [49]:
Name = []
Artist = []
Upload_date = []
Views = []

In [50]:
name_ = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_:
    if i.text is None:
        Name.append("--") 
    else:
        Name.append(i.text)
    
art = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in art:
    if i.text is None:
        Artist.append("--")
    else:
        Artist.append(i.text)
        
upload = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in upload:
    Upload_date.append(i.text)

view = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in view:
    Views.append(i.text)

In [51]:
len(Name),len(Artist),len(Upload_date),len(Views)

(30, 30, 30, 30)

In [52]:
df = pd.DataFrame({'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views})
df

,Name,Artist,Upload_date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.82
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.49
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.94
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.79
4,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.34
5,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.33
6,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",6.30
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.90
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.28
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.22
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.15
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.72
12,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.66
13,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,"January 31, 2012",4.59
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.14
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,"June 14, 2018",4.11
16,"""Sugar""[42]",Maroon 5,"January 14, 2015",4.08
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.05
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.03
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.99
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.94
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.87
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.83
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.79
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.77
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.76
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.69
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.66
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.64
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.64

In [53]:
# USING LAMBDA FUNCTION TO REMOVE COLUMNWISE CHARACTERS BY USING -4 FROM LAST CHARACTER
df.Name = df.Name.apply(lambda x:x[0:-4].strip('"')) #  USING STRIP FUNCTION TO REMOVE INVERTED COMMA
df

,Name,Artist,Upload_date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.82
1,Despacito,Luis Fonsi,"January 12, 2017",8.49
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.94
3,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.79
4,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",6.34
5,See You Again,Wiz Khalifa,"April 6, 2015",6.33
6,Shape of You,Ed Sheeran,"January 30, 2017",6.30
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.90
8,Uptown Funk,Mark Ronson,"November 19, 2014",5.28
9,Gangnam Style,Psy,"July 15, 2012",5.22
10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.15
11,Dame Tu Cosita,Ultra Records,"April 5, 2018",4.72
12,Axel F,Crazy Frog,"June 16, 2009",4.66
13,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.59
14,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018",4.14
15,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",4.11
16,Sugar,Maroon 5,"January 14, 2015",4.08
17,Counting Stars,OneRepublic,"May 31, 2013",4.05
18,Roar,Katy Perry,"September 5, 2013",4.03
19,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.99
20,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011",3.94
21,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.87
22,Sorry,Justin Bieber,"October 22, 2015",3.83
23,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.79
24,Perfect,Ed Sheeran,"November 9, 2017",3.77
25,Dark Horse,Katy Perry,"February 20, 2014",3.76
26,Let Her Go,Passenger,"July 25, 2012",3.69
27,Faded,Alan Walker,"December 3, 2015",3.66
28,Girls Like You,Maroon 5,"May 31, 2018",3.64
29,Lean On,Major Lazer Official,"March 22, 2015",3.64

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [54]:
driver = webdriver.Chrome()
url = driver.get('https://www.bcci.tv/')
full_window = driver.maximize_window()
driver.implicitly_wait(10)

In [55]:
fixture_tab = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_tab.click()

In [56]:
series = []
place = []
date = []
time_note = []

In [57]:
# Scrap Data of Matches
series_ = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_:
    try:
        series.append(i.text)
    except NoSuchElementException:
        series.append('Not present')
    
place_ = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_:
    place.append(i.text)
    
date_ = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_:
    date.append(i.text)

time_ = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_:
    time_note.append(i.text)

In [58]:
len(series),len(place),len(date),len(time_note)

(5, 5, 5, 5)

In [59]:
df = pd.DataFrame({'Series':series,'Place':place,'Date':date,'Timing':time_note})
df

,Series,Place,Date,Timing
0,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium,",30 Jul,19:00 IST
1,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",2 Aug,14:30 IST
2,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",4 Aug,14:30 IST
3,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",7 Aug,14:30 IST
4,Bangladesh Tour Of India Test Series 2024,"MA Chidambaram Stadium,",19 Sep,9:30 IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [60]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
url = driver.get('http://statisticstimes.com/')
full_window = driver.maximize_window()

In [61]:
# Go to economy page
economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
ind_dropdown = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [62]:
# Create List
rank = []
state = []
GSDP_22 = []
GSDP_23 = []
share_22 = []
GDP_21 = []

In [63]:
rk = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rk:
    if i.text is None:
        rank.append("--")
    else:
        rank.append(i.text)

st = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in st:
    if i.text is None:
        state.append("--")
    else:
        state.append(i.text)

gsdp_23 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_23:
    if i.text is None:
        GSDP_23.append("--")
    else:
        GSDP_23.append(i.text)

gsdp_22 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in gsdp_22:
    if i.text is None:
        GSDP_22.append("--")
    else:
        GSDP_22.append(i.text)

sh = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in sh:
    if i.text is None:
        share_22.append("--")
    else:
        share_22.append(i.text)

gdp = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
for i in gdp:
    if i.text is None:
        GDP_21.append("--")
    else:
        GDP_21.append(i.text)

In [64]:
len(rank),len(state),len(GSDP_22),len(GSDP_23),len(share_22),len(GDP_21)

(33, 33, 33, 33, 33, 33)

In [65]:
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP 22-23':GSDP_23,'GSDP 21-22':GSDP_22,'Share 21-22':share_22,'GDP 2021':GDP_21})
df

   Rank                      State GSDP 22-23 GSDP 21-22 Share 21-22 GDP 2021
0     1                Maharashtra          -  3,108,022      13.17%  414.928
1     2                 Tamil Nadu  2,364,514  2,071,286       8.78%  276.522
2     3                  Karnataka  2,269,995  1,978,094       8.38%  264.080
3     4              Uttar Pradesh  2,258,040  1,975,595       8.37%  263.747
4     5                    Gujarat  2,230,609  1,928,683       8.17%  257.484
5     6                West Bengal  1,531,758  1,329,238       5.63%  177.456
6     7                  Rajasthan  1,365,849  1,193,489       5.06%  159.334
7     8             Andhra Pradesh  1,303,524  1,148,471       4.87%  153.324
8     9                  Telangana  1,308,034  1,124,204       4.76%  150.084
9    10             Madhya Pradesh  1,246,471  1,092,964       4.63%  145.913
10   11                     Kerala  1,046,188    934,542       3.96%  124.764
11   12                      Delhi  1,014,688    881,336       3.73%  117.660
12   13                    Haryana    984,055    868,905       3.68%  116.001
13   14                     Odisha    753,177    662,886       2.81%   88.497
14   15                      Bihar    751,396    650,302       2.76%   86.817
15   16                     Punjab    676,164    617,192       2.62%   82.397
16   17                      Assam    493,167    411,454       1.74%   54.930
17   18               Chhattisgarh    464,399    410,525       1.74%   54.806
18   19                  Jharkhand    393,722    358,863       1.52%   47.909
19   20                Uttarakhand    303,781    267,143       1.13%   35.664
20   21            Jammu & Kashmir    224,226    193,352       0.82%   25.813
21   22           Himachal Pradesh    191,728    172,162       0.73%   22.984
22   23                        Goa     93,672     84,266       0.36%   11.250
23   24                    Tripura     72,636     62,550       0.27%    8.351
24   25                 Chandigarh     54,285     46,096       0.20%    6.154
25   26                 Puducherry     49,643     43,810       0.19%    5.849
26   27                  Meghalaya     42,697     38,785       0.16%    5.178
27   28                     Sikkim     42,756     37,557       0.16%    5.014
28   29                    Manipur          -     36,594       0.16%    4.885
29   30          Arunachal Pradesh     39,630     34,775       0.15%    4.643
30   31                   Nagaland     35,643     31,038       0.13%    4.144
31   32                    Mizoram          -     27,824       0.12%    3.715
32   33  Andaman & Nicobar Islands          -     10,371       0.04%    1.385

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [66]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
url = driver.get('https://github.com/')
full_window = driver.maximize_window()

In [67]:
#go to open source
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button').click()
# Go to trending page
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a').click()

In [68]:
# Fetch urls from the pages
url = []
start = 0
end = 1

github_repo = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in github_repo:
    url.append(i.get_attribute('href'))

In [69]:
len(url)

18

In [70]:
url

['https://github.com/sindresorhus/awesome',
 'https://github.com/opendatalab/MinerU',
 'https://github.com/ollama/ollama',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/freeCodeCamp/devdocs',
 'https://github.com/jwasham/coding-interview-university',
 'https://github.com/drawdb-io/drawdb',
 'https://github.com/lllyasviel/stable-diffusion-webui-forge',
 'https://github.com/miss-mumu/developer2gwy',
 'https://github.com/lllyasviel/Fooocus',
 'https://github.com/localsend/localsend',
 'https://github.com/alpkeskin/mosint',
 'https://github.com/mingrammer/diagrams',
 'https://github.com/practical-tutorials/project-based-learning',
 'https://github.com/gchq/CyberChef',
 'https://github.com/nomic-ai/gpt4all',
 'https://github.com/SagerNet/sing-box',
 'https://github.com/recloudstream/cloudstream']

In [71]:
#Create lists
repo_title = []
repo_desc = []
c_counts = []
lang = []

In [72]:
#Scrap data from from pages
for i in url:
    driver.get(i)
    try:
        repo = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div[1]/div/span[1]/a')
        repo_title.append(repo.text)
    except NoSuchElementException:
        repo_title.append('Not present')

    try:
        desc = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p')
        repo_desc.append(desc.text)
    except NoSuchElementException:
        repo_desc.append('Not present')

    try:
        contributors = driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][4]/div[1]/h2/a/span')
        c_counts.append(contributors.text)
    except NoSuchElementException:
        c_counts.append('Not present')

    try:
        language = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[6]/div/ul')
        lang_text=language.text.replace('\n',' ')
        lang.append(lang_text)
    except NoSuchElementException:
        lang.append('Not present')

In [73]:
len(repo_title),len(repo_desc),len(c_counts),len(lang)

(18, 18, 18, 18)

In [74]:
df = pd.DataFrame({'Repositoty':repo_title,'Repository Description':repo_desc,'Contributors':c_counts,'Language':lang})
df

,Repositoty,Repository Description,Contributors,Language
0,sindresorhus,😎 Awesome lists about all kinds of interesting...,590,Not present
1,opendatalab,"A one-stop, open-source, high-quality data ext...",Not present,Python 100.0%
2,ollama,"Get up and running with Llama 3.1, Mistral, Ge...",258,Not present
3,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,253,TypeScript 66.7% JavaScript 27.5% CSS 5.5% Doc...
4,freeCodeCamp,API Documentation Browser,220,Not present
5,jwasham,A complete computer science study plan to beco...,,
6,drawdb-io,"Free, simple, and intuitive online database de...",1,
7,lllyasviel,Not present,Not present,Not present
8,miss-mumu,公务员从入门到上岸，最佳程序员公考实践教程,Not present,Not present
9,lllyasviel,Focus on prompting and generating,59,Not present
10,localsend,An open-source cross-platform alternative to A...,Not present,Dart 96.4% C++ 0.9% CMake 0.7% Kotlin 0.6% Pow...
11,alpkeskin,An automated e-mail OSINT tool,Not present,Go 99.1% Dockerfile 0.9%
12,mingrammer,🎨 Diagram as Code for prototyping cloud system...,139,Not present
13,practical-tutorials,Curated list of project-based tutorials,Not present,Not present
14,gchq,The Cyber Swiss Army Knife - a web app for enc...,Not present,JavaScript 97.0% HTML 1.6% CSS 1.4%
15,nomic-ai,GPT4All: Chat with Local LLMs on Any Device,124,C++ 48.1% QML 32.4% Python 8.5% CMake 5.4% Jav...
16,SagerNet,The universal proxy platform,1,
17,recloudstream,Android app for streaming and downloading media.,Not present,Kotlin 99.2% Other 0.8%

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [75]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
url = driver.get('https:/www.billboard.com/')
full_window = driver.maximize_window()

In [76]:
chart = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [77]:
title = []
titles = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in titles:
    title.append(i.text)

artist_name = []
artist = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist:
    artist_name.append(i.text)

last_week = []
last = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in last:
    last_week.append(i.text)

peek_week = []
peek = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peek:
    peek_week.append(i.text)

weeks_on_board = []
weeks = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in weeks:
    weeks_on_board.append(i.text)

In [78]:
len(title),len(artist_name),len(last_week),len(peek_week),len(weeks_on_board)

(100, 100, 100, 100, 100)

In [79]:
df = pd.DataFrame({'Title':title,'Artist':artist_name,'Last Week':last_week,'Peek Week':peek_week,'Weeks On Board':weeks_on_board})
df

,Title,Artist,Last Week,Peek Week,Weeks On Board
0,A Bar Song (Tipsy),Shaboozey,2,1,14
1,I Had Some Help,Post Malone Featuring Morgan Wallen,3,1,10
2,Not Like Us,Kendrick Lamar,1,1,11
3,Million Dollar Baby,Tommy Richman,4,2,12
4,Espresso,Sabrina Carpenter,5,3,14
...,...,...,...,...,...
95,Bass Boat,Zach Bryan,61,61,2
96,Think I'm In Love With You,Chris Stapleton,87,49,11
97,Beautiful As You,Thomas Rhett,95,83,6
98,Sweet Dreams,Koe Wetzel,88,35,9
99,Sandpaper,Zach Bryan Featuring Bruce Springsteen,71,71,2

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [80]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.implicitly_wait(10)

In [81]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [82]:
name_book = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name_book:
    Book_name.append(i.text)
    
name_author = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in name_author:
    Author_name.append(i.text)

volume = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    Volumes_sold.append(i.text)

publi = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publi:
    Publisher.append(i.text)

genre = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [83]:
len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre)

(100, 100, 100, 100, 100)

In [84]:
df = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [85]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(10)

In [86]:
# click on view dataset
button = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]').click()

In [87]:
#fetching url of each datasets
datasets_urls = []
start = 0
end = 1
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        datasets_urls.append(i.get_attribute('href'))
    next_button=driver.find_elements(By.XPATH,'//button[@class="btn-primary btn-sm btn"]')

In [88]:
len(datasets_urls)

10

In [89]:
datasets_urls

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/222/bank+marketing']

In [90]:
Dataset_name = []
Data_type = [] 
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [91]:
for i in datasets_urls:
    driver.get(i)
    try:
        name = driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset_name.append(name.text)
    except NoSuchElementException:
        Dataset_name.append('Not Present')

    try:
        type_of_data = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        Data_type.append(type_of_data.text)
    except NoSuchElementException:
        Data_type.append('Not Present')

    try:
        task = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[2]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('Not Present')

    try:
        attribute_type = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('Not Present')

    try:
        instances = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('Not Present')

    try:
        no_of_attr = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        No_of_attribute.append(no_of_attr.text)
    except NoSuchElementException:
        No_of_attribute.append('Not Present')

    try:
        yr = driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        Year.append(yr.text)
    except NoSuchElementException:
        Year.append('Not Present')

In [92]:
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year)

(10, 10, 10, 10, 10, 10, 10)

In [93]:
df = pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type,'Task':Task,'Attribute_type':Attribute_type,'No_of_instances':No_of_instances,'No_of_attribute':No_of_attribute,'Year':Year})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Iris,Tabular,Biology,Real,150,4,Donated on 6/30/1988
1,Dry Bean,Multivariate,Biology,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Health and Medicine,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Biology,Real,3810,7,Donated on 10/5/2019
4,Raisin,Multivariate,Biology,"Real, Integer",900,7,Donated on 8/13/2023
5,Adult,Multivariate,Social Science,"Categorical, Integer",48842,14,Donated on 4/30/1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Health and Medicine,Real,569,30,Donated on 10/31/1995
7,Wine,Tabular,Physics and Chemistry,"Integer, Real",178,13,Donated on 6/30/1991
8,Wine Quality,Multivariate,Business,Real,4898,11,Donated on 10/6/2009
9,Bank Marketing,Multivariate,Business,"Categorical, Integer",45211,16,Donated on 2/13/2012