In [36]:
# import packagges
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [37]:
#opening Chrome Browser
driver = webdriver.Chrome()

In [38]:
# Apply wait to matching speed while executing
driver.implicitly_wait(10)

In [39]:
# opening url by using webdriver method ( get )
driver.get('https://www.naukri.com/')

In [40]:
# To maximize browser page
driver.maximize_window()

In [41]:
# Search job designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [42]:
# Search job Loacation
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [43]:
# Click Search tab
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [44]:
# Extract designation here by using find elements method
job_titles=[]

job_designation=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
job_designation[:10]

for i in job_designation[:10]:
    job_titles.append(i.text)
    
job_titles[:10] # 10 number of rows to scrap

['Data Scientist',
 'Data Scientist',
 'Data Scientist- Pune/Bangalore/ Gurugram',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist III',
 'Data Scientist',
 'Principal Data Scientist /Senior Data Scientist - NLP/Machine Learning']

In [45]:
# Extract location here by using find elements method
location=[]

job_location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
job_location[:10]

for i in job_location[:10]:
    location.append(i.text)
    
location[:10]

['Hybrid - Noida, Ghaziabad, New Delhi',
 'Pune, Gurugram, Bengaluru',
 'Delhi / NCR, Pune, Bengaluru',
 'Noida, Bengaluru',
 'Gurugram',
 'New Delhi(Okhla Phase 2)',
 'Delhi / NCR, Noida, Gurugram',
 'Hybrid - Delhi / NCR',
 'Gurugram',
 'Gurugram']

In [46]:
# Extract Company Name here by using find elements method
job_company=[]

company_name=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]')
company_name[:10] # for scrap 10 row of Data

for i in company_name[:10]:
    job_company.append(i.text)
    
job_company[:10]

['PwC Service Delivery Center\n3.6\n7502 Reviews',
 'Fortune 500 IT Services Company\n4.0',
 'Leading Indian IT Company\n3.5',
 'Wipro\n3.8\n41346 Reviews',
 'Ericsson\n4.2\n6490 Reviews',
 'Large Analytics MNC\n3.5',
 'Girnar Insurance Brokers\n3.5\n200 Reviews',
 'Manya Education\n3.4\n73 Reviews',
 'Benovymed Healthcare',
 'KPMG Assurance and Consulting Services LLP\n3.6\n4653 Reviews']

In [47]:
# Extract Experience here by using find elements method
experience_required=[] 

exp_req=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
exp_req[:10]

for i in exp_req[:10]:
    experience_required.append(i.text)
    
experience_required[:10]

['4-7 Yrs',
 '2-7 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '3-8 Yrs',
 '11-14 Yrs',
 '6-10 Yrs']

In [48]:
# calculate length of information given
print(len(job_titles),len(location),len(job_company),len(experience_required))

10 10 10 10

In [49]:
# Data Send it to DataFrame
df = pd.DataFrame({'Title':job_titles,'Location':location,'Company':job_company,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist,"Hybrid - Noida, Ghaziabad, New Delhi",PwC Service Delivery Center\n3.6\n7502 Reviews,4-7 Yrs
1,Data Scientist,"Pune, Gurugram, Bengaluru",Fortune 500 IT Services Company\n4.0,2-7 Yrs
2,Data Scientist- Pune/Bangalore/ Gurugram,"Delhi / NCR, Pune, Bengaluru",Leading Indian IT Company\n3.5,6-11 Yrs
3,Data Scientist,"Noida, Bengaluru",Wipro\n3.8\n41346 Reviews,5-10 Yrs
4,Data Scientist,Gurugram,Ericsson\n4.2\n6490 Reviews,4-9 Yrs
5,Data Scientist,New Delhi(Okhla Phase 2),Large Analytics MNC\n3.5,5-10 Yrs
6,Data Scientist,"Delhi / NCR, Noida, Gurugram",Girnar Insurance Brokers\n3.5\n200 Reviews,0-5 Yrs
7,Data Scientist III,Hybrid - Delhi / NCR,Manya Education\n3.4\n73 Reviews,3-8 Yrs
8,Data Scientist,Gurugram,Benovymed Healthcare,11-14 Yrs
9,Principal Data Scientist /Senior Data Scientis...,Gurugram,KPMG Assurance and Consulting Services LLP\n3....,6-10 Yrs

Q: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
# import packagges
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
driver.get('https://www.amazon.in/')
driver.maximize_window()

In [ ]:
product = driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
product.send_keys('Laptop')

In [ ]:
search = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()

In [ ]:
filter = driver.get('https://www.amazon.in/s?k=Laptop&rh=n%3A976392031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3ArerWbQUdW7qjYzgENA2fNjp5FXvg5GJW34Z6wdttCqI&crid=S7XB0XPEF4I8&qid=1720155793&rnid=12598141031&sprefix=laptop%2Caps%2C266&ref=sr_nr_p_n_feature_thirteen_browse-bin_11')
filter

In [ ]:
title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
title

In [ ]:
ratings = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
ratings

In [ ]:
price_ = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
price_

In [ ]:
titles = []
rating = []
price = []

In [ ]:
for i in title[:10]:
    titles.append(i.text)

titles[:10]

In [ ]:
for i in ratings[0:10]:
    rating.append(i.get_attribute('innerHTML'))

rating[0:10]

In [ ]:
for i in price_[0:10]:
    price.append(i.text)

price[0:10]

In [ ]:
len(titles),len(rating),len(price)

In [ ]:
df = pd.DataFrame({'Title':titles,'Ratings':rating,'Price':price})
df

Q: Scrape data forfirst 100 sneakers you find whenyouvisit flipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [ ]:
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')
driver.maximize_window()

In [ ]:
product = driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sneakers')

In [ ]:
click_on_search = driver.find_element(By.CLASS_NAME,"_2iLD__")
click_on_search.click()

In [ ]:
brand_name = driver.find_elements(By.CLASS_NAME,"syl9yP")
brand_name

In [ ]:
price = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
price

In [ ]:
product_description = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
product_description

In [ ]:
len(brand_name),len(product_description),len(price)

In [ ]:
# url present in the href tag
# to fetch the url
url = driver.find_elements(By.CLASS_NAME,"syl9yP")
url[0:3]

In [ ]:
# url present in the href tag
for i in url[0:3]: # to print only top 3 rows here
    print(i.get_attribute('href'))

In [ ]:
brand = []
price_of_product = []
description = []

In [ ]:
start = 0
end = 3
for page in range(start,end):
    brand_name =driver.find_elements(By.CLASS_NAME,"syl9yP")
    for i in brand_name:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,"//span[text()='Next']")
    next_button.click()
    time.sleep(3)

In [ ]:
start = 0
end = 3
for page in range(start,end):
    price =driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price:
        price_of_product.append(i.text)
    next_button=driver.find_element(By.XPATH,"//span[text()='Next']")
    next_button.click()
    time.sleep(3)

In [ ]:
start = 0
end = 4
for page in range(start,end):
    product_description =driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in product_description:
        description.append(i.text)
    next_button=driver.find_element(By.XPATH,"//span[text()='Next']")
    next_button.click()
    time.sleep(3)

In [ ]:
len(brand),len(description),len(price_of_product)

In [ ]:
brand

In [ ]:
description

In [ ]:
price_of_product

Q: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe.

In [ ]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
driver.maximize_window()
driver.get('https://www.motor1.com/')

In [ ]:
search = driver.find_element(By.XPATH,'//input[@id="search_input"]')
search.send_keys('50 most expensive cars')

In [ ]:
search_button = driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_button.click()

In [ ]:
click_on_heading = driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
click_on_heading.click()

In [ ]:
title = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

# By using XPATH By contains method to scrap price and matching pattern here 'Price: $' and '$'
price = driver.find_elements(By.XPATH, "//p/strong[contains(text(), 'Price: $') or contains(text(), '$')]")

In [ ]:
title

In [ ]:
price

In [ ]:
len(title),len(price)

In [ ]:
cars_Name = []
for i in title:
    cars_Name.append(i.text)

cars_Name

In [ ]:
prices = []
for i in price:
    prices.append(i.text)

prices

In [ ]:
df = pd.DataFrame({'Cars':cars_Name[:50],'Price':prices[:50]}) #Scrap 50 number of rows
df